{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="module_knawat_dropshipping_status" id="input-status" class="form-control">
                                {% if module_knawat_dropshipping_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                            {% if error_status %}
                                <div class="text-danger">{{ error_status }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-knawat-consumer-key">{{ entry_consumer_key }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_knawat_dropshipping_consumer_key" value="{{ module_knawat_dropshipping_consumer_key }}" placeholder="{{ consumer_key_placeholder }}" class="form-control" id="input-knawat-consumer-key" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-knawat-consumer-secret">{{ entry_consumer_secret }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="module_knawat_dropshipping_consumer_secret" value="{{ module_knawat_dropshipping_consumer_secret }}" placeholder="{{ consumer_secret_placeholder }}" class="form-control" id="input-knawat-consumer-secret" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-knawat-consumer-secret">{{text_import_products}}</label>
                        <div class="col-sm-10 ajax_import">
                            <button id="run_import" class="btn btn-primary">{{text_run_import}}</button>
                            <div class="import_inprocess" style="display: none;">
                                <img src="{{knawat_ajax_loader}}" style="width:30px;"/> <strong style="margin-left: 10px;">{{text_import_inprogress}}</strong>
                                <div class="import_status" style="margin-top: 10px;">
                                    <p>{{text_import_stats}}:</p>
                                    <strong>{{text_imported}}:</strong> 0 {{text_products}}<br>
                                    <strong>{{text_updated}}:</strong> 0 {{text_products}}<br>
                                    <strong>{{text_failed}}:</strong> 0 {{text_products}}
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}

<script type="text/javascript">
    var knawat_ajax_url = '{{ knawat_ajax_url }}';
    $(document).ready( function(){
        $('#run_import').on('click', function(e) {
            e.preventDefault();
            process_step();
            knawat_ajax_import_start();
        });
    });

    function process_step( data ) {
        $.ajax({
            type: 'POST',
            url: knawat_ajax_url.replace(/&amp;/g, '&'),
            data: {
                process_data: data
            },
            dataType: "json",
            success: function( response ) {
                if( response.is_complete ) {
                    /* Done Operation here. */
                    knawat_ajax_import_stop();
                    jQuery(".page-header .container-fluid").append('<div class="knawat_import_message alert alert-success"><i class="fa fa-info-circle"></i> {{success_ajaximport}}</div>');
                    jQuery('.import_inprocess .import_status').html('');

                } else {
                    /*Update import stats.*/
                    jQuery('.import_inprocess .import_status').html('<p>{{text_import_stats}}:</p><strong>{{text_imported}}:</strong> ' + response.imported + ' {{text_products}}<br><strong>{{text_updated}}:</strong> ' + response.updated + ' {{text_products}}<br><strong>{{text_failed}}:</strong> ' + response.failed + ' {{text_products}}')
                    /*Run next batch.*/
                    process_step( response );
                }

            }
        }).fail(function (response) {
            if ( window.console && window.console.log ) {
                console.log( response );
            }
            knawat_ajax_import_stop();
            jQuery(".page-header .container-fluid").append('<div class="knawat_import_message alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_ajaximport}}</div>');
        });
    }

    function knawat_ajax_import_start(){
        jQuery(".page-header .container-fluid .knawat_import_message").remove();
        jQuery(".page-header .container-fluid").append('<div class="knawat_import_message alert alert-warning"><i class="fa fa-info-circle"></i> {{warning_ajaximport}}</div>');
        jQuery('#run_import').hide();
        jQuery('.ajax_import .import_inprocess').show();
    }

    function knawat_ajax_import_stop(){
        jQuery(".page-header .container-fluid .knawat_import_message").remove();
        jQuery('#run_import').show();
        jQuery('.ajax_import .import_inprocess').hide();
    }
</script>